.border-gradient {
  display: inline-block;
  width: 10rem;
  height: 1.2rem;
  background: $gradient;
}

.sub-heading {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  letter-spacing: -1.5px;

  &.light {
    color: $color-white;
  }

  &.dark {
    color: $color-gray-dark;
  }
}

.content-wrapper {
  max-width: $content-width;
  position: relative;
  z-index: 99;
  margin: 0 auto;
}

.mt-3 {
  margin-top: 3rem;
}

@media only screen and (max-width: $tablet) {
  .sub-heading {
    font-size: 4.5rem;
  }

  .border-gradient {
    width: 6rem;
    height: 1rem;
  }
}