//COLORS
$color-blue: #1D4AC7;
$color-lightBlue: #03BBFF;
$color-turquoise: #37D5DB;
$color-gray: #5D5D5D;
$color-gray-dark: #222222;
$color-white: #fff;

//FONTS
$font-primary: 'Montserrat', serif;

//LAYOUT
$content-width: 135rem;

//FONT SIZES
$font-sm: 1.8rem;

//styles
$gradient: linear-gradient(to right, $color-lightBlue, $color-turquoise);